[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Apple Music
Comment=Apple Music For Linux
Exec=apple-music
Icon=icon.icns
Terminal=False
Categories=AudioVideo
